<li>
	{{id}}. {{name}}

	<button class="drink" data-id="{{id}}" data-newdrank="{{drank}}">
		{{#if drank}}Drink Coffee!{{else}}REFILL!{{/if}}
	</button>

	<button class= "delete-coffee" data-id="{{this.id}}">Delete</button>
</li>